[Desktop Entry]
Type=Application
Version=1.0
Name=Workshops
Comment=Use LXD
Keywords=lxd;shell;prompt;command;commandline;cmd;
Exec=workshops
Icon=terminal
Terminal=false
Categories=GTK;System;TerminalEmulator;
